
.formatter{
    margin-left: 10rem;
    border: 1px solid rgb(104, 92, 92);
    border-radius: 3px;
    min-height: auto;
    width: 60%;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    
    mat-form-field{
        margin-left:10%;
        width: 150%;
    }
    .bottom-actions{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        button{
            margin-top: 2%;
            border: 1px solid rgb(104, 92, 92);
        }
    }
}
h1{ margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%
}
