table{
    width: 90%;
    text-align: left;
    min-width: fit-content;
    margin-left: 2%;
}
td{
    padding-top: 1%;
    
}
table{
    
    border: 1px solid rgb(104, 92, 92);
    border-collapse: collapse;

}
td{
    border-top: 1px solid rgb(104, 92, 92);
    border-bottom: 1px solid rgb(104, 92, 92);

}
h1{ margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%
}
