<div class="sidebar">
    <ul>
        <button><li><i class="fa fa-home" onclick="loadHome()"></i>Dashboard</li></button>
        <button><li><i class="fa fa-user"></i>My posts</li></button>
        <a href="https://www.overleaf.com/project/620ac91572a3543b2198bdfe"><li><i class="fa fa-book" aria-hidden="true"></i>Documentation</li></a>
        <a href="https://github.com/Aletrevi/Postchain"><li><i class="fa fa-code"></i>Code</li></a>
    </ul>
    <div class="authors">
        <div>
        <strong>Authors</strong>
        <p>Alessio Trevisan</p>
        <p>Saadat Nursultan</p>
    </div>
    <div>
        <strong>Version</strong>
        <p>1.0.0</p>
    </div>
    </div>
</div>