<div class="post-wrapper" *ngIf="myPosts">
    <div class="post-title"><span>Create new post</span>
       
    </div>
 
    <div class="new-content">
        <span>Title</span>
        <input type="text" placeholder="Insert the title of the post">
    </div>
    <div class="new-content">
        <span>Author</span>
        <input type="text" placeholder="Insert the author of the post">
    </div>
    
    <div class="new-content">
        <span>Content</span>
        <textarea rows="5">
           
        </textarea>
       
    </div>
    <div class="actions"><button><i class="fa fa-plus" aria-hidden="true"></i>Create
    </button></div>
</div>
